{{#bind "scripts"}}
  <!-- no reason to do this, just showing you -->
  <script src="http://code.jquery.com/jquery-git2.min.js"></script>
{{/bind}}

<div class="jumbotron">
	<h1>{{req.url}}</h1>
	<p class="lead">
		Hey, welcome this good-for-nothing-page.  Your URL is {{req.url}}. Here is the code for the [{{controller}}] controller
		<pre style="text-align:left">
module.exports = {
	
	// the index
	"/hello"(req,res) {
		res.view();
	},
	
	// the route world
	"world"(req,res) {
		res.view();
	}
}
		</pre>
	</p>
</div>