<div class="jumbotron">
	<h1>Welcome</h1>
	<p class="lead">
		Cornerstone is a production ready NodeJS framework built with ES6 on top of ExpressJS. We built this because we 	hated everything else. I hope you Enjoy 1.0
	</p>
	<p>
		<a class="btn btn-lg btn-success" href="https://github.com/ConnectAi/cornerstone" role="button">To the Docs!</a>
	</p>
</div>

<div class="row marketing">
	<div class="col-lg-6">
		<h4>ExpressJS</h4>
		<p>Express has some killer routing for Node. We take that a step further and make those routes your controllers.</p>

		<h4>Stylus</h4>
		<p>To each his own. We use stylus for now, which gets automatically compiled when the CSS file is requested.</p>

		<h4>Services</h4>
		<p>CS comes with a way to build an share arbitrary code. This was something that we couldn't find anywhere else.</p>
</div>

<div class="col-lg-6">
	<h4>MySQL</h4>
	<p>For now, we build in MySQL.  But everything is wrapped in Promises, so all of your database code is non blocking.</p>

	<h4>ES6</h4>
	<p>Have you used ES6? It will change your JavaScript life. Writing code for CS is a dream.</p>

	<h4>Debugging</h4>
	<p>We made Debugging a #1 priority.  You can find out what's going on at every step of the way. Check the docs for more.</p>
</div>
