<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>

		<!-- Our main CSS, matches private/main.styl -->
		<link rel="stylesheet" href="/css/main.css">

		<!-- Create a hook for one off styles from views -->
		{{{hook "styles"}}}
	</head>

	<body>
		<div class="container">
			<div id="main" role="main">
				{{{body}}}
			</div>
		</div>

		<!-- The main CS variable. Don't delete this -->
		<script>window.CS = {{{json exposed}}};</script>

		<!-- The main JS file, could be anything really -->
		<script src="/js/main.js"></script>

		<!-- A hook for one off scripts from views -->
		{{{hook "scripts"}}}
	</body>
</html>
