{{{include "/data/header"}}}


{{#bind "scripts"}}
	<script>
		var makeRequest = function(scenario, variant, index) {
			var xhr = new XMLHttpRequest();

			var endpoint = '/' + scenario + '/' + variant + '/' + index;

			xhr.open('GET', '/data/get' + endpoint);

			xhr.onload = function() {
				if (this.status === 200) {
					var data = JSON.parse(this.response);

					document.querySelector('[data-promise="' + index + '"]').innerHTML = data;

					CS.diff();
				}
			};

			xhr.send();
		};


		{{#for 0 numRequests 1}}
			makeRequest('{{../params.scenario}}', '{{../params.variant}}', {{this}});
		{{/for}}
	</script>
{{/bind}}

<pre id="data">
{{#for 0 numRequests 1}}{{this}}: <var data-promise="{{this}}"></var>
{{/for}}
</pre>
