{{{include "/data/header"}}}


{{#bind "scripts"}}
	<script>
		var count = 0;

		var makeRequest = function(test, variant) {
			var xhr = new XMLHttpRequest();

			var endpoint = '/' + test;
			if (variant) endpoint += '/' + variant;

			xhr.open('GET', '/data/get' + endpoint);

			var which = count++;

			document.getElementById('data').innerHTML += which + ': <var data-promise="' + which + '"></var>\n';

			xhr.onload = function() {
				if (this.status === 200) {
					var data = JSON.parse(this.response);

					document.querySelector('[data-promise="' + which + '"]').innerHTML = data;

					CS.diff();
				}
			};

			xhr.send();
		};


		makeRequest('{{params.test}}', '{{params.variant}}');
	</script>
{{/bind}}


<pre id="data"></pre>
