<ul class="pull-right">
	<li><a href="/data/server/{{params.scenario}}/{{params.variant}}">server</a></li>
	<li><a href="/data/ajax/{{params.scenario}}/{{params.variant}}">ajax</a></li>
	<li><a href="/data/stream/{{params.scenario}}/{{params.variant}}">stream</a></li>
</ul>


<ul class="pull-right">
	{{#each scenarios}}
		<li><a href="/data/{{../method}}/{{this}}/{{../params.variant}}">{{this}}</a></li>
	{{/each}}
</ul>


<ul class="pull-right">
	{{#for 1 variants 1}}
		<li><a href="/data/{{../method}}/{{../params.scenario}}/{{this}}">{{this}}</a></li>
	{{/for}}
</ul>


<dl>
	<dt>start</dt>
	<dd>
		<output id="start">{{start}}</output>
	</dd>

	<dt>end</dt>
	<dd>
		<output id="end">_</output>
	</dd>

	<dt>total</dt>
	<dd>
		<output id="total">_</output>
	</dd>
</dl>
