{{#bind "scripts"}}
	<script src="/js/views/data/index.js"></script>
{{/bind}}

<ul class="pull-right">
	<li><a href="/data/server/{{params.test}}/{{params.variant}}">server</a></li>
	<li><a href="/data/ajax/{{params.test}}/{{params.variant}}">ajax</a></li>
	<li><a href="/data/stream/{{params.test}}/{{params.variant}}">stream</a></li>
</ul>


<ul class="pull-right">
	<li><a href="/data/{{method}}/timeout/{{params.variant}}">timeout</a></li>
</ul>


<ul class="pull-right">
	<li><a href="/data/{{method}}/{{params.test}}/1">1</a></li>
	<li><a href="/data/{{method}}/{{params.test}}/2">2</a></li>
	<li><a href="/data/{{method}}/{{params.test}}/3">3</a></li>
</ul>


<dl>
	<dt>start</dt>
	<dd>
		<output id="start">{{start}}</output>
	</dd>

	<dt>end</dt>
	<dd>
		<output id="end"></output>
	</dd>

	<dt>total</dt>
	<dd>
		<output id="total"></output>
	</dd>
</dl>
