{{{include "/data/header"}}}


{{#bind "scripts"}}
	<script>
		var socket = io.connect();

		socket.on("stream", function(res) {
			// console.log("stream", res);
			var key = res[0];
			var data = res[1];

			var channels = document.querySelectorAll('var[data-promise="' + key + '"]');
			Array.prototype.forEach.call(channels, function(element) {
				element.innerHTML = data;
			});

			CS.diff();
		});
	</script>
{{/bind}}


<pre id="data">
{{#each data}}
{{@index}}: <var data-promise="{{@index}}"></var>
{{/each}}
</pre>
