{{{include "/data/header"}}}


{{#bind "scripts"}}
	<script>
		var key, data, channels;

		CS.diff();

		io.connect().on("stream", function(res) {
			CS.diff();

			key = res[0];
			data = JSON.stringify(res[1]);

			channels = document.querySelectorAll('var[data-promise="' + key + '"]');
			Array.prototype.forEach.call(channels, function(element) {
				element.innerHTML = data;
			});
		});
	</script>
{{/bind}}


<pre id="data">
{{#each promises}}
{{@index}}: <var data-promise="{{@index}}"></var>
{{/each}}
</pre>
